* {
  font-family: 'Bebas Neue', cursive;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#win-box {
  border: black 1px solid;
  width: 200px;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  
}

.main {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  min-width: 400px;
  text-align: center;
}

.main_results {
  margin-top: 20px;
  color: black;
  text-align: center;
}

.message {
  font-size: 50px;
  margin-top: -60px;
}

.panel {
  margin: 0 30px;
  font-size: 150px;
  
}

.panel:hover {
  cursor: pointer;
  background: whitesmoke;
  border-radius: 10px;

}

.header-message {
  text-align: center;
  font-size: 40px;

}